/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

 */

:root {
    --orange: hsl(25, 97%, 53%);
    --light_grey: hsl(217, 12%, 63%);
    --medium_grey: 216, 12%, 54%;
    --dark_blue: hsl(213, 19%, 18%);
    --rem_basic: 1.5rem;
    --margin_bottom: 0.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Overpass', sans-serif;
    /* background-color: var(--dark_blue); */
}

p {
    font-size: 1rem;
}

button {
    font-family: 'Overpass', sans-serif;
    border: 0;
    cursor: pointer;
    font-weight: 700;
}

section {
    display: flex;
    justify-content: center;
    padding: 20vh 5vw;
}

.card {
    max-width: 26rem;
    background-color: var(--dark_blue);
    border-radius: 2rem;
    padding: 2rem;
}

.card-rating>img {
    padding: 1rem;
    border-radius: 100%;
    background-color: hsl(var(--medium_grey), 0.2);
    margin-bottom: var(--rem_basic);
}

.card-rating>h1 {
    font-weight: 700;
    font-size: var(--rem_basic);
    color: white;
    margin-bottom: var(--margin_bottom);
}

.card-rating p {
    color: var(--light_grey);
    margin-bottom: var(--rem_basic);
}

.ratings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-bottom: var(--rem_basic);
}

.ratings button {
    border-radius: 100%;
    font-size: 1rem;
    color: var(--light_grey);
    background-color: hsl(var(--medium_grey), 0.2);
    padding: 1.1rem;
}

.ratings button:hover {
    color: white;
    background-color: var(--light_grey);
}

.selected {
    color: white;
    background-color: var(--orange);
}

.btn-orange {
    width: 100%;
    letter-spacing: 0.1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    color: white;
    background-color: var(--orange);
    padding: 0.8rem 0;
}

.btn-orange:hover {
    color: var(--orange);
    background-color: white;
}